<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameid</key>
	<string>30178</string>
	<key>gamename</key>
	<string>阴阳师学院BT-满V版</string>
	<key>appid</key>
	<string>10179</string>
	<key>appkey</key>
	<string>tyyebd9901b26915011fbf8bf9d2b6c2fac2e708471</string>
</dict>
</plist>
